<div class="row mt-5">
  <div class="col-15 mt-5">    
<div class="position-relative" style="height: 400px;">
  <div class="shadow-circle position-absolute top-30 end-0"></div>
  <div class="col-3  text-start ">
      <h5>hallo It's Me</h5>
      <h3>Zineddine Malki </h3>
      <h5> And I'm a  <samp class="styleText-smap">Software developer</samp></h5>
      <p class="text-style">loem ipsum dolor sit amet,consectetur adipiscing
         elit.ut posuere eros justo, sed hendrerit lacus molestie id. In varius 
         risus eget lacus</p>
        
        
        <a href="https://www.linkedin.com/in/zineddine-malki" target="_blank" rel="noopener noreferrer">
          <img class="linkedinLogo-style " src="linkedinLogo.svg" > 
        </a>
        <a href="https://github.com/Zmalki" target="_blank" rel="noopener noreferrer">
          <img class="githubLogo-style mx-3" src="githubLogo.svg" > 
        </a>
        <a href="https://wa.me/+4915753262887" target="_blank" rel="noopener noreferrer">
          <img class="whatsappLogo-style mx-2" src="whatsappLogo.svg" >
        </a>
        <a href="https://wa.me/+4915753262887" target="_blank" rel="noopener noreferrer">
          <img class="whatsappLogo-style mx-2"   src="twitterLogo.svg"  >
        </a>
        <div class="row mt-5">
        <button type="button" class="btn btn-info btn-custom" (click)=" downloadCV()">
          <Samp class="textButton-style">Download CV </Samp> 
        </button>
  </div>
</div>
 
</div>
</div>
</div>