.custom-toolbar {
    background-color: #01CCFF; /* Deine Wunschfarbe */
  }

  .custom-span{
    color:  #181E39; 
      font-size: 18px; 
      font-family: "Georgia", serif; 
  }
  .spacer{
    flex: 0.95 0.5 auto; 
  }
  .custom-mat-button{
    color:  #181E39; 
      font-size: 16px;  
      font-family: "Georgia", serif; 
  }